AWS_ACCESS_KEY_ID=AKIA123
AWS_SECRET_ACCESS_KEY=ABC123

AWS_DEFAULT_REGION=us-east-1
AWS_REGION=us-east-1
AWS_S3_BUCKET=ourorg-knowbe4-data-archiver

API_BASE_URL=https://us.api.knowbe4.com
API_AUTH_TOKEN=abc123

AWS_S3_FILENAME=knowbe4_data
